body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* header layout */

nav, article, aside, footer {
    background-color: #F5DDDD;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
  }

  nav {
    height: 50px;
    background-color: #53687E;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type:none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: right;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFC53A;
  }

#for-round {
    vertical-align: middle;
    display: flex;
    flex: 2;
}

#round {
    display: table;
    text-transform: uppercase;
    color: #FFC53A;
    border: 1px solid;
    border-radius: 0 10px;
}

#round h2 {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
}

#about, #guide, #home-link {
    margin-right: 20px;
}

#about, #guide, #home-link, div.button {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#about:hover, #guide:hover, #home-link:hover, div.button:hover {
  transform: scale(1.05);
}

#about:active, #guide:active, #home-link:active, div.button:active {
  transform: translateY(2px);
}

/* main layout */
main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 2.2;
    margin-left: 10px;
    background-color: #EDADC7;
  }
  
  aside li {
    padding-bottom: 10px;
  }

  footer {
    margin-top: 10px;
  }

/* score table */

#for-score-table {
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    text-align: center;
    margin-top: auto;
}

#for-score-table::-webkit-scrollbar { /* hide the scrollbar without impacting scrolling */
    display: none;
}

#score {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

#score th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #912F56;
    color: white;
}
#score tr {background-color: #ece0e8;}
#score tr:nth-child(even){background-color: #f2f2f2;}

.light-up {
    animation-name: light-up-animation;
    animation-duration: .5s;
}

@keyframes light-up-animation {
    0% {
        filter: brightness(100%);
        filter: contrast(100%);
    }

    50% {
        filter: brightness(120%);
        filter: contrast(120%);
    }

    100% {
        filter: brightness(100%);
        filter: contrast(100%);
    }
}

/* buttons */

#for-buttons-and-waiting-message {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#action_buttons{
    text-align: center;
}

div.button {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color:whitesmoke;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    width: 100px;
    text-align: center;
}

div.error {
    background-color:rgb(222, 29, 29);
    color: white;
    text-align: center;
}

#cooperate {
    background-color:#7dca6e;
}
#cooperate:active {
    background-color: #5eaa4f;
}

#betray {
    background-color: #fb89b7;
}
#betray:active {
    background-color:#d86a98;
}

#tournament-button {
    background-color: #8db2ff;
    width: 250px;
}

#tournament-button:active {
    background-color: #6f93dd;
}

a.Hidden {
    text-decoration: none;
}

/* waiting message */

.collapsed {
    visibility: collapse;
    display: none;
    max-width: 0;
    max-height: 0;
}

.hidden {
    visibility: hidden;
}

.for-waiting-message {
    color:#53687E;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

div.content {
    text-align: center;
    width: 80%;
    height: 80%;
}

/* loader */
.for-loader-and-message{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.loader-container {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.loader-2 {
    width: 10px;
    height: 10px;
    top: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-2 0.9s 0.35s ease alternate infinite;
    animation: loader-2 0.9s 0.35s ease alternate infinite;
    margin: -20px auto 0;
  }
  
  .loader-2:after,
  .loader-2:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loader-2 0.9s ease alternate infinite;
    -webkit-animation: loader-2 0.9s ease alternate infinite;
  }
  
  .loader-2:before {
    left: -20px;
    animation-delay: 0.2s;
  }
  
  .loader-2:after {
    right: -20px;
    animation-delay: 0.5s;
  }
  
  @keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #53687E;
    }
    100% {
      box-shadow: 0 15px 0 #53687E;
    }
  }
  
  @-webkit-keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #53687E;
    }
    100% {
      box-shadow: 0 15px 0 #53687E;
    }
  }
  

/* log footer */

.log-footer {
    color:#53687E;
    font-weight: bold;
    font-size: large;
    text-align: center;
    height: 50px;
    animation-name: appear-disappear-animation;
    animation-duration: 10s;
    animation-fill-mode: both;
}

@keyframes appear-disappear-animation {
    0% {
        transform: scale(0%);
        opacity: 0;
        height: 0;
        font-size: 0;
    }

    5% {
        opacity: 1;
    }

    6% {
        height: 52.5px;
        font-size: large;
        transform: scale(105%);
        filter: brightness(100%);
    }

    7% {
        filter: brightness(110%);
        height: 50px;
        transform: scale(100%);
    }

    10% {
        filter: brightness(100%);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}