body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #F5DDDD;
}

/* Header layout */

header {
    font-size: 150%;
    margin: 0;
    display: block;
    text-align: center;
    background-color: #53687E;
    color:#FFC53A;
  }

  nav, article, aside, footer {
    background-color: #F5DDDD;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
  }

  nav {
    height: 50px;
    background-color: #53687E;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type:none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: right;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFC53A;
  }

  #for-header {
    vertical-align: middle;
    display: flex;
    flex: 2;
}

#header {
    display: table;
    text-transform: uppercase;
    color: #FFC53A;
    border: 1px solid;
    border-radius: 0 10px;
}

#header h2 {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
}
  .main-heading{
    max-width: 800px;
    margin: auto;
  }

#about, #guide, #home-link, div.button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

#about:hover, #guide:hover, #home-link:hover, div.button:hover {
  transform: scale(1.05);
}

#about:active, #guide:active, #home-link:active, div.button:active {
  transform: translateY(2px);
}

/* Buttons */

div.for-button{
    text-align: center;
}

div.button {
    display: inline-block;
    color:white;
    background-color: #EDADC7;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    vertical-align:middle;
    width: 250px;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    margin-top: 15px;
}

#start_button {
    box-shadow: 0 5px 8px -1px #912F56;
}
#beb {
    box-shadow: 0 5px 8px -1px #912F56;
}

#start_tournament {
    box-shadow: 0 5px 8px -1px #912F56;
}

#invite {
    background-color: rgba(240, 248, 255, 0);
    color: #53687E;
}
 
.collapsed {
    visibility: collapse;
}

.hidden {
    visibility: hidden;
}

.for-join-link {
    text-align: center;
    width:100%;
    background-color:rgba(250, 250, 244, 0.781);
}

/* Settings */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #912F56; /* Pink background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #912F56; /* Pink background */
    cursor: pointer; /* Cursor on hover */
  }

  .settings {
    color: #53687E;
    font-weight: bold;
    margin-top: 8px;
  }

  /* Numbers for the round numbers slider */

  .container {
    display: flex;
    width: 50%;
  }
  .container.space-between {  
    justify-content: space-between;
  }