body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    font-size: 150%;
    margin: 0;
    display: block;
    text-align: center;
    background-color: black;
    color:white;
    filter: invert(100%);
    mix-blend-mode: difference;
  }
  
  
  .main-heading{
    max-width: 800px;
    margin: auto;
  }


div.for-button{
    text-align: center;
}

div.button {
    display: inline-block;
    color:whitesmoke;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    width: 250px;
    text-align: center;
    font-size: 130%;
}

  
#start_button {
    background-color:white;
    color:black;
}

#beb {
    margin: 20px auto;
    background-color:white;
    color:black;
}
 
.collapsed {
    visibility: collapse;
}

.hidden {
    visibility: hidden;
}

.for-join-link {
    text-align: center;
}