body {
    font-family: Arial, Helvetica, sans-serif;
    color: #53687E;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* header layout */

nav, article, aside, footer {
    background-color: #F5DDDD;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
  }

  nav {
    height: 50px;
    background-color: #53687E;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type:none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: right;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFC53A;
  }

#for-gamenum {
    vertical-align: middle;
    display: flex;
    flex: 2;
}

#gamenum {
    display: table;
    text-transform: uppercase;
    color: #FFC53A;
    border: 1px solid;
    border-radius: 0 10px;
}

#gamenum h2 {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;
}

#about, #guide, #home-link {
  margin-right: 20px;
}

#about, #guide, #home-link, div.button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

#about:hover, #guide:hover, #home-link:hover, div.button:hover {
  transform: scale(1.05);
}

#about:active, #guide:active, #home-link:active, div.button:active {
  transform: translateY(2px);
}

/* Guide Window */

.dim {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #00000065;
}

.window {
  z-index: 2; 
  border: 2px solid #e092b1;
  text-align: center;
  background-color:rgba(250, 250, 244, 0.944);
  margin: 5%;
  font-size: large;
  padding: 10px;
}

.no-display {
  display: none;
}

/* main layout */
main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 2.2;
    margin-left: 10px;
    background-color: #EDADC7;
  }
  
  aside li {
    padding-bottom: 10px;
  }

  footer {
    margin-top: 10px;
  }


  /* Aside settings and nickname */
  
  .container {
    text-align: center;
    margin-top: 15px;
  }

  #pencil {
    display: inline-block;
  }

  input[type='text']:placeholder-shown { /* default text is pale */
    color: #5f758c27;
  }

  input[type='text']::placeholder {  /* default text is small */
    font-size: smaller;
  }

  input[type='text']:focus::placeholder { /* on focus hide the default text */
    color: transparent;
  }

  input[type='text'] {
    border-radius: 6px;
    border-width: 1px;
    font-size: large;
    background-color: #F5DDDD;
    color: #53687E;
  }



/* Leaderboard */

#leaderboard {
  align-items: center;
}

#headers {
  align-items: center;
  margin-bottom: 3px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #53687ecc;
  display: flex;
  flex: 2;
}

.row {
  align-items: center;
  border: 3px solid;
  min-height: 40px;
  vertical-align: middle;
  border-color: #53687e7d;
  margin-bottom: 10px;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  color: #53687E;
  vertical-align: middle;
  display: flex;
  flex: 2;
}

.row-highlight {
  background-color: #81ff6892;
}

.place {
  display: inline-block;  
  width: 20%;
}

.name {
  display: inline-block;
  overflow: hidden;
  width: 25%;
}

.score {
  display: inline-block;
  width: 25%;
}

.gamenum {
  display: inline-block;
  width: 20%;
}

/* Payoff Matrix and Settings Matrix */
td, th {
    border: 2px solid #ddd;
    padding: 8px;
}

#payoff td, #settings td {
    background-color:lavenderblush;
}

table {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    color:#53687E;
    font-weight: bold;
}

caption {
    color:#912F56;
    text-transform: uppercase;
}

#payoff, #settings {
    border-collapse: collapse;
    width: 20%;
    margin-top: 20px;
    table-layout: fixed;
    width:300px;
}

#payoff th, #settings th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #912F56;
    color: white;
}

#settings {
    width: 200px;
}


/* Score table */

#for-score-table {
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    text-align: center;
    margin-top: auto;
}


#score {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    text-align: center;
}

#score th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #912F56;
    color: white;
}
#score tr {background-color: #ece0e8;}
#score tr:nth-child(even){background-color: #f2f2f2;}

.light-up {
    animation-name: light-up-animation;
    animation-duration: .5s;
}

@keyframes light-up-animation {
    0% {
        filter: brightness(100%);
        filter: contrast(100%);
    }

    50% {
        filter: brightness(120%);
        filter: contrast(120%);
    }

    100% {
        filter: brightness(100%);
        filter: contrast(100%);
    }
}

/* buttons */

#for-button-and-message {
    min-height: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#join {
    text-align: center;
    width: 150px;
    background-color:#66c362;
}

#join:active {
  background-color: #45a342;
}

div.button {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color:whitesmoke;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    width: 100px;
    text-align: center;
}

div.error {
    background-color:rgb(222, 29, 29);
    color: white;
    text-align: center;
}


/* waiting message */

.collapsed {
    visibility: collapse;
    display: none;
}

.hidden {
    visibility: hidden;
}

.for-waiting-message {
    color:#53687E;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

div.content {
    text-align: center;
    width: 80%;
    height: 80%;
}

/* loader */
.for-loader-and-message{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.loader-container {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.loader-2 {
    width: 10px;
    height: 10px;
    top: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-2 0.9s 0.35s ease alternate infinite;
    animation: loader-2 0.9s 0.35s ease alternate infinite;
    margin: -20px auto 0;
  }
  
  .loader-2:after,
  .loader-2:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loader-2 0.9s ease alternate infinite;
    -webkit-animation: loader-2 0.9s ease alternate infinite;
  }
  
  .loader-2:before {
    left: -20px;
    animation-delay: 0.2s;
  }
  
  .loader-2:after {
    right: -20px;
    animation-delay: 0.5s;
  }
  
  @keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #53687E;
    }
    100% {
      box-shadow: 0 15px 0 #53687E;
    }
  }
  
  @-webkit-keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #53687E;
    }
    100% {
      box-shadow: 0 15px 0 #53687E;
    }
  }
  